body {
    min-height: 100vh;
    background-image: url("./fondo.jpg");
}

.pasteles {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.muestra {
    width: 300px;
}

.row {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}