body {
    min-height: 100vh;
    background-image: url("./fondo.jpg");
    background-size: 40%;
}

.pasteles {
    opacity: 0;
    margin-top: 50px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.muestra {
    width: 300px;
}

.row {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.fondo{
    transition: 0.5s;
}

.fondo:hover{
    background-size: 50%;
}

.transicion{
    transition: 0.65s;
}

.pasteles:hover{
    opacity: 1;
}

.contenedor:hover{
    transform: scale(1.2);
}